.gallery {
  padding: 20px;
  padding-left: 0;
}

.gallery ul{
  display: flex;
  flex-direction: row;
}

.gallery ul li{
  margin-left: 25px;
}

.gallery ul li:first-child{
  margin-left: 0px;
}

.gallery ul li a img{

  
  border-radius: 15px; 
}

.gallery ul li a img:hover{

  box-shadow: 8px 8px 16px var(--primary-color);
}